@font-face {
	font-family: "IndieFlower";
	src: url("fonts/IndieFlower.ttf");   
}
* {
		box-sizing: border-box;
		text-decoration: none;
		list-style-type: none;
	  direction: rtl;
    text-align: right;
}
/**/
body{
	position: relative;
}
header{
	display: flex; 
  background: url("images/header_bg.png");
	width:100%;
  height:105px; 
}
main{
	flex-direction:column;
	width:900px;	
	height:810px;
  margin: 0 auto;
}
footer { 
	display: flex;
	position: fixed;
	bottom:0px;	
	background: url("images/footer_bg.png");
	width:100%;
  height:38px;
}

/**** header ****/
.header-show {
	display: flex;
	width:900px;
	height:100%;  
	margin: auto;
}
.header-show-right {
  display: flex; flex-direction:column;
	height:100%;
}
.header-show-right-img {
		margin-top:30px;
}
.header-show-left {
	display: flex; 
	flex-direction:column;
	width:740px;
	height:100%; 
	margin-right:auto;
}
.header-show-left-helping{
	display: flex;
	justify-content:flex-end;
	padding-top: 20px;
}
.header-show-left-helping-search {
	display: flex;
	justify-content:flex-end;
	height:18px;
}
.header-show-left-helping-search-text {
  border-top-right-radius: 10px;     
	border: 1px solid white;
}
.header-show-left-helping-language a {
  padding-left:30px;
	color: white;
}
.header-show-left-menu{
  display: flex;
	z-index: 99;
	justify-content:flex-end; 
	width:100%;
	height:50px;
	margin:20px 0px 10px 0px; 
/**/
}
/******** main ********/
.main-top{display: flex; flex-direction:row;
   height:340px; width:100%; margin-top:16px;
}
.main-top-common{ display: flex; position: relative;
	background-size:100%;
  height:100%; width:33.333%;
}
.main-top-common-read{ display: flex; position: absolute;
	top:238px; margin-right:6px;
}
.main-top-common-txtpanel{ display:flex;  flex-direction:column; position: absolute;
	top:0px; left:0px;
	height:100%;
	padding: 0px 4px 4px 0px;
}
.main-top-common-txtpanel-txt{
	color: white; font-size:12px;
}
.main-top-common-txtpanel-more{display:flex;
	margin-top: auto;margin-right: auto;
}
.main-top-common-txtpanel-more-txt{display:inline;  
	color: white; font-size:12px;
}
.main-top-common-txtpanel-more-pict{display:inline;  
	padding:0px 4px 0px 6px; 
}
.main-top-right{ 
	background-image: url("images/1908364606615453350.JPG");
	margin-left:8px;
}
.main-top-middle{
	background-image: url("images/Picture-046410251500.JPG");
	margin-left:4px; margin-right:4px;
}
.main-top-left{
	background-image: url("images/291_354410564000.JPG");
	margin-right:8px;
}

/*************************
*************************/

.main-bottom{
	display: flex; 
	flex-direction:row;
	height:218px; 
	width:100%; 
	margin-top:16px; 
	margin-bottom:16px;
}
.main-bottom-common{ 
	display: flex; 
	position: relative;
	background-size:100%;
	height:100%; 
	width:33.333%;
	background-image: url("images/small_cube_bg.png");
}
.main-bottom-common-title {
  padding: 10px;
}
.main-bottom-common-read{

}

.main-bottom-common-read-more{
					border: 2px solid red;
}

.main-bottom-right{ 
}
.main-bottom-middle{
}
.main-bottom-left{
}

/********* header menu  **********/
.header-show-left-menu-nav ul div li a{ 
	color:white;
}


.header-show-left-menu-nav ul { /*flex-direction: row;   */
	 margin:  0px;
	 padding: 2px;
	 list-style: none;
}

/********* footer *********/
.footer-menu {
	display: flex;
	width:900px;
	height:100%;  
	margin: auto;
	justify-items: flex-end;
}

/********** footer menu *******/

.footer-menu-nav{
		display: flex;
	border: solid green;
	justify-items: flex-end;
	height: 10px;
}

.footer-menu-nav ul div li a{ 
	color:white;
	  border: solid;
}

/********** menu  *************/
.nav-item {
	display: inline-block;
	position: relative;
	padding: 0 2px; 
}

.header-show-left-menu-nav ul li a {
	 color:blueviolet;   
	 padding:  2px 2px 4px 4px;
	 text-decoration: none;
	 font-family: sans-serif;
}
.header-show-left-menu-nav-imagehome{
}
li:hover a{
	 padding:  20px 20px;
	 color:rgb(157, 204, 28);
}

li.active a{
	 color:rgb(238, 208, 208); 
}

.nav-item:hover .dropdown-list 
{
	 display:block;
}

.nav-item:hover li a 
{
	 color:rgb(3, 71, 194);
	 text-decoration: underline;}
.header-show-left-helping-language:hover a{
	 color:rgb(3, 71, 194);
	 text-decoration: underline;	
}
.dropdown-list {
	background-image: url("images/menu_dropdown_bg.png");
	background-size: 100%;

}

.dropdown-list a {
	border-bottom: 1px solid white;
	color:white;
}


/**/
.dropdown-list a:hover{
}
/**/
.dropdown-list{ display:none;  /* block    */
	 position: absolute;  
	 right:0px;
	 padding: 8px;
}

.dropdown-list a {
	 padding:5px;
	 text-decoration: none;
}

