@font-face {
	font-family: "IndieFlower";
	src: url("fonts/IndieFlower.ttf");   
}
* {
		box-sizing: border-box;
		text-decoration: none;
		list-style-type: none;
	  direction: rtl;
    text-align: right;
}
/**/
body{
	position: relative;
}
header{
	display: flex; 
  background: url("images/header_bg.png");
	width:100%;
  height:105px; 
}
main{
	flex-direction:column;
	width:900px;	
	height:810px;
  margin: 0 auto;
}
footer { 
	display: flex;
	position: fixed;
	bottom:0px;
							border:2px solid red;
	width:100%;
  height:38px;
}

/**** header ****/
.header-show {
	display: flex;
	width:900px;
	height:100%;  
	margin: auto;
}
.header-show-right {
  display: flex; flex-direction:column;
	height:100%;
}
.header-show-right-img{
		margin-top:30px;
}
.header-show-left {
	display: flex; 
	flex-direction:column;
	width:740px;
	height:100%; 
	margin-right:auto;
}
.header-show-left-helping{
	display: flex;
	justify-content:flex-end;
	padding-top: 20px;
}
.header-show-left-helping-search {
	display: flex;
	justify-content:flex-end;
	height:20px;
}
.header-show-left-helping-search-text {
	background-image: url("images/search_input.png");
	background-size: 100%;
}
.header-show-left-helping-language a {
  padding-left:30px;
	color: white;
}
.header-show-left-menu{
	              border: 2px solid red;
display: flex; flex-direction:row;
		justify-content:flex-end; 
	height:50px; width:100%; margin:20px 0px 10px 0px; 
/**/
}
/******** main ********/
.main-top{display: flex; flex-direction:row;
   height:340px; width:100%; margin-top:16px;
}
.main-top-common{ display: flex; position: relative;
	background-size:100%;
  height:100%; width:33.333%;
}
.main-top-common-read{ display: flex; position: absolute;
	top:238px; margin-right:6px;
}
.main-top-common-txtpanel{ display:flex;  flex-direction:column; position: absolute;
	top:0px; left:0px;
	height:100%;
	padding: 0px 4px 4px 0px;
}
.main-top-common-txtpanel-txt{
	color: white; font-size:12px;
}
.main-top-common-txtpanel-more{display:flex;
	margin-top: auto;margin-right: auto;
}
.main-top-common-txtpanel-more-txt{display:inline;  
	color: white; font-size:12px;
}
.main-top-common-txtpanel-more-pict{display:inline;  
	padding:0px 4px 0px 6px; 
}
.main-top-right{ 
	background-image: url("images/1908364606615453350.JPG");
	margin-left:8px;
}
.main-top-middle{
	background-image: url("images/Picture-046410251500.JPG");
	margin-left:4px; margin-right:4px;
}
.main-top-left{
	background-image: url("images/291_354410564000.JPG");
	margin-right:8px;
}

/*************************
*************************/

.main-bottom{
	display: flex; 
	flex-direction:row;
	height:218px; 
	width:100%; 
	margin-top:16px; 
	margin-bottom:16px;
}
.main-bottom-common{ 
	display: flex; 
	position: relative;
	background-size:100%;
	height:100%; 
	width:33.333%;
	background-image: url("images/small_cube_bg.png");
}

.main-bottom-common-read{

}
.main-bottom-common-read-more{
					border: 2px solid red;
}

.main-bottom-right{ 
/*	background-image: url("images/paz_250x110059890678.jpg");
	margin-left:8px;*/
}
.main-bottom-middle{
	background-image: url("images/250X110571325734.jpg");
	margin-left:4px; margin-right:4px;
}
.main-bottom-left{
	background-image: url("images/Untitled-3058756287.jpg");
	margin-right:8px;
}

